
html, body{
    height: 100%;
    width: 100%;
}

#container{
    width: 100%;
}

main{
    padding-bottom: 4em;
}

video{
    width: 50%;
    height: 600px;
}

h1 {
    text-align: left;
    font-family: cursive;
    font-size: 3em;
    padding-left: 10px;
}


#video-select, 
#language-select,
#rw,  #end, #ff, #slo,
#normal, #play, #pause, 
#mute, #unmute, #seek{
  background-color: rgb(14, 14, 14);
  color: rgb(249, 249, 249);
  font-size: 20px;
  padding: 1em 3em;
  margin: .5em;
}


#rw:hover,  
#end:hover, 
#ff:hover, 
#slo:hover, 
#normal:hover,
#mute:hover,
#unmute:hover,
#seek:hover,
#play:hover,
#pause:hover
{
    background-color: rgb(213, 213, 213);
    color: rgb(14, 14, 14);
}


#rw:active, 
#rw:focus,
#end:active, 
#end:focus, 
#ff:active, 
#ff:focus, 
#slo:active, 
#slo:focus, 
#normal:active, 
#normal:focus,
#play:active,
#play:focus,
#pause:active,
#pause:focus,
#mute:active,
#mute:focus,
#unmute:active,
#unmute:focus,
#seek:active,
#seek:focus{
    background-color: rgb(207, 152, 86);
    color: rgb(0, 0, 0);
}

footer{
    background-color: rgb(197, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin:0;
    padding: 2em;
}           


.pop.hide{
    display: none;
}


.article-box.hide {
    display: none;
}

.article-box iframe {
    width: 100%;
    height: 500px;
    border: none;
  }

